body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: magenta;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Monofett', cursive;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{4
border-radius: 150px
width: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px 20px 100px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 25px;
	color: purple;
	margin-top: 40px 0 10px;
}

a{
	color: red;
}
a:hover{
	color: green;
	background-color: purple;
}

footer{
	background-color: magenta;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}